/*
 * Modern CSS reset.
 * Based on:
 * - https://www.joshwcomeau.com/css/custom-css-reset/
 * - https://piccalil.li/blog/a-more-modern-css-reset/
 */

/* Global CSS custom properties */
:root {

    /* Cross-platform font stacks */

    /* system-ui is widely supported now so we don't need platform-specific fallbacks anymore */
    --font-stack-sans:
        ui-sans-serif, system-ui,   /* Default user interface font */
        "Helvetica Neue", "Arial",  /* Basic web fallback */
        sans-serif;                 /* Catch-all */

    --font-stack-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* ui-monospace is not widely supported yet so we'll still use platform-specific fallbacks here */
    --font-stack-mono:
        ui-monospace,                                   /* Default user interface font */
        "SFMono-Regular", "SF Mono", "Menlo", "Monaco", /* macOS, iOS */
        "Cascadia Code", "Consolas",                    /* Windows */
        "Liberation Mono", "DejaVu Sans Mono",          /* Linux */
        "Roboto Mono", "Droid Sans Mono",               /* Android */
        "Courier New",                                  /* Basic web fallback */
        monospace;                                      /* Catch-all */
}

*,
*::before,
*::after {
    /*
     * Use a more-intuitive box-sizing model.
     */
    box-sizing: border-box;
}

*:not(dialog) {
    /*
     * Remove default margin from everything so we can directly control it
     * Excluding dialogs as they're margin:auto by default so they stay centred in the viewport
     */
    margin: 0;
}

/* Font rules (so that rem can be calculated correctly) and global animation/transition settings */
html {
    /*
     * Improve consistency of default fonts in all browsers.
     */
    font-family: var(--font-stack-sans), var(--font-stack-emoji);

    /*
     * Prevent mobile font-size adjustment
     * https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
     */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    /*
     * Opt into transitions and animations to and/or from derived values (where available)
     */
    interpolate-size: allow-keywords;
}

body {
    /*
     * WCAG recommended line height for main paragraph content
     * https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html
     */
    line-height: 1.5;

    /*
     * Make the body fill the viewport
     */
    min-height: 100vh; /* Fallback for any browsers that don't support dvh */
    min-height: 100dvh;

    /*
     * Nicer font smoothing
     * Only affects Webkit/Firefox browsers on macOS. All other platforms do this already.
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* General typography */
h1, h2, h3, h4, h5, h6 {
    /*
     * Tidier line heights for headings
     */
    line-height: 1.1;

    /*
     * Balanced wrapping on headers looks much nicer
     */
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6,
p {
    /*
     * Prettify broken words on overflow
     */
    hyphens: auto;

    /*
     * Avoid text overflows with very long words
     */
    overflow-wrap: break-word;
}

code, pre, kbd, samp,
.font-monospace  {
    /*
     * Monospace fonts for elements that use it
     */
    font-family: var(--font-stack-mono), var(--font-stack-emoji);
}

/* Form elements */
button,
input,
select,
textarea {
    /*
     * Reset typography styles for form controls to follow the rest of the page
     */
    font: inherit;
}

button,
input,
label {
    /*
     * Tidier line heights for single-line form elements
     */
    line-height: 1.1;
}

textarea:not([rows]) {
    /*
     * Make sure textareas without a rows attribute are not tiny
     */
    min-height: 10em;
}
